//////////////////////////////////////////////////// Contact \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.section-contact {
  h1 {
    font-size: 4rem;

    font-weight: 400 !important;
    line-height: 120% !important; /* 48px */
    letter-spacing: -2px;

    span {
      line-height: inherit;
      letter-spacing: 1px;
    }
  }
}
