/////////////////////////////////////////////  General Styles  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // font = 10px;
  font-family: Inter;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

h1,
h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;

  line-height: 115%;
}
span,
ul {
  font-family: Inter;
  line-height: 150%;
}

ul {
  list-style-type: none;

  li {
    cursor: pointer;
  }
}

.container-xxl {
  overflow: hidden;
}

.normal {
  font-style: normal;
  font-weight: 400;
}
.italic {
  font-style: italic;
  font-weight: 500 !important;
}

p {
  font-family: Inter;

  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.inter-body {
  font-size: 1.6rem;

  letter-spacing: -0.16px;
}
.inter-body-small {
  font-size: 1.4rem;

  letter-spacing: -0.14px;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;

  letter-spacing: -0.14px;
}
.btn-main {
  text-align: center;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  border: none;
  background: none;
}

.btn--primary {
  padding: 12px 24px 14px 24px;
}

.btn--secondary {
  padding: 12px 22px 14px 22px;
}

.vector-arrow {
  width: 1.6rem;
  height: 1.6rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: inherit;

  z-index: 993;
  background-color: #ffffff;
}

.subheading {
  font-size: 1.2rem;
  letter-spacing: -0.12px;
}

.hidden {
  display: none;
}

.popup-background {
  position: fixed;
  top: 0;
  background-color: #1111116c;
  height: 100vh;
  width: 100%;
  z-index: 995;
  touch-action: none;
}

.fade-in {
  animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
