@import "../../node_modules/bootstrap/scss/mixins";

@include media-breakpoint-down(xxl) {
  //////////////////////// General \\\\\\\\\\\\\\\\\\\\\\\\\\\

  .btn-main {
    span {
      font-size: 1.3rem;
    }
  }
  //////////////////////// Hero \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-hero {
    h1 {
      font-size: 5.2rem;
    }
    p {
      font-size: 1.45rem;
    }
  }

  //////////////////////// Offer \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-offer {
    h1 {
      font-size: 4.4rem;
    }
    p {
      font-size: 1.4rem;
    }
    .card-offer {
      h5 {
        font-size: 2.4rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }

  //////////////////////// Contact \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-contact {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

@include media-breakpoint-down(xl) {
  //////////////////////// General \\\\\\\\\\\\\\\\\\\\\\\\\\\
  html {
    font-size: 56.25%;
  }

  .btn-main {
    span {
      font-size: 1.3rem !important;
    }
  }
  //////////////////////// Hero & Company \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-hero,
  .section-company {
    h1 {
      font-size: 4.6rem;
    }
    p {
      font-size: 1.5rem;
    }
  }

  //////////////////////// Offer \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-offer {
    h1 {
      font-size: 3.8rem;
    }
    p {
      font-size: 1.5rem;
    }
    .card-offer {
      h5 {
        font-size: 2.6rem;
      }
      p {
        font-size: 1.4rem;
      }
    }
  }
  //////////////////////// Projects \\\\\\\\\\\\\\\\\\\\\\\\\\\

  .section-projects {
    h1 {
      font-size: 3.8rem;
    }
  }

  //////////////////////// Contact \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-contact {
    h1 {
      font-size: 2.6rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  //////////////////////// Footer \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .footer {
    p,
    ul {
      font-size: 1.3rem;
    }

    span {
      font-size: 1.2rem;
    }
    img {
      width: 10rem;
      height: 2rem;
    }
  }
}

@include media-breakpoint-down(lg) {
  //////////////////////// General \\\\\\\\\\\\\\\\\\\\\\\\\\\
  html {
    font-size: 50%;
  }

  .subheading {
    font-size: 1.2rem;
  }

  .btn-main {
    span {
      font-size: 1.2rem;
    }
  }
  .btn--primary {
    padding: 10px 14px 12px 14px;
  }
  .btn--secondary {
    padding: 10px 12px 12px 12px;
  }

  .vector-arrow {
    width: 1.2rem;
    height: 1.2rem;
  }

  //////////////////////// Navigation \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .navbar-header {
    .btn-mobile-nav {
      display: block;
      // position: fixed;
      // right: 89px;
      z-index: 9999;

      & .line {
        width: 28px;
        height: 4px;
        background-color: rgb(0, 0, 0);
        border-radius: 3px;
        transition: all 0.5s ease-in;
      }
    }

    .main-nav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 998;
      transform: translateY(-500px);

      background-color: #ffffff;

      width: 100%;

      height: auto;
      border-radius: 0 0 20px 20px;

      filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.234));
      transition: all 1.2s linear;
    }

    .nav-open {
      transform: translateY(0);
    }
    .arrow-down {
      height: 15px;
      width: 15px;
    }

    .navbar-nav {
      font-size: 2.4rem;

      .nav-item {
        width: 60%;
        text-align: center;

        .submenu {
          font-size: inherit;
          position: static;
          top: 5px;
          left: 0;

          &-item {
            width: 100%;
          }
        }

        .form-search {
          .input-search {
            &::placeholder {
              font-size: 1.6rem;
            }
          }
          .active {
            border: 1px solid #bcbcbc;
            width: 60%;
          }
        }
      }
    }
  }

  //////////////////////// Hero & Company \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-hero {
    .right-side {
      padding: 48.1rem 39.6rem 0px 0px;
    }
  }
  .section-company {
    .left-side {
      padding: 48.1rem 0px 0px 0px;
    }
  }
  .section-hero,
  .section-company {
    h1 {
      font-size: 4.1rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  //////////////////////// Offer \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-offer {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.2rem;
    }
    .card-offer {
      .card-offer-all {
        h5 {
          font-size: 2.4rem;
        }
      }
    }
  }
  //////////////////////// Projects \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-projects {
    h1 {
      font-size: 3rem;
    }
    .gradient-background {
      height: 75%;
    }
  }

  //////////////////////// Contact \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-contact {
    h1 {
      font-size: 3.2rem;
    }
    p {
      font-size: 1.6rem;
    }
  }

  //////////////////////// Footer \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .footer {
    p,
    ul {
      font-size: 1.6rem;
    }

    .btn-main {
      span {
        font-size: 1.2rem;
      }
    }
    span {
      font-size: 1rem;
    }
    img {
      width: 10rem;
      height: 2rem;
    }
  }
}

@include media-breakpoint-down(md) {
  //////////////////////// General \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .btn-main {
    span {
      font-size: 1.4rem !important;
    }
  }
  .btn--primary {
    padding: 8px 14px 10px 14px;
  }
  .btn--secondary {
    padding: 8px 12px 10px 12px;
  }

  //////////////////////// Navigation \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .navbar-header {
    span {
      font-size: 2rem;
    }
  }

  //////////////////////// Hero & Company \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-hero {
    .right-side {
      padding: 58.1rem 39.6rem 0px 0px;
    }
  }
  .section-company {
    .left-side {
      padding: 58.1rem 0px 0px 0px;
    }
  }
  .section-hero,
  .section-company {
    h1 {
      font-size: 4.8rem;
    }
    p {
      font-size: 1.6rem;
    }
  }

  //////////////////////// Offer \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-offer {
    h1 {
      font-size: 3.8rem;
    }
    p {
      font-size: 1.6rem;
    }
    .card-offer {
      h5 {
        font-size: 2.8rem;
      }

      .card-icon {
        &-eye {
          width: 5.2rem;
          height: 2.9rem;
        }
      }
    }
  }

  //////////////////////// Projects \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-projects {
    h1 {
      font-size: 3.8rem;
    }
    .popup {
      width: 65rem;
      .popup-btn {
        transform: translateY(-50%) scale(1);
      }
      &-right-arrow {
        right: 10px;
      }
      &-left-arrow {
        left: 10px;
      }
    }
  }

  //////////////////////// Contact \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-contact {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.6rem;
    }
  }
  //////////////////////// Footer \\\\\\\\\\\\\\\\\\\\\\\\\\\
}

@include media-breakpoint-down(sm) {
  //////////////////////// General \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .btn-main {
    span {
      font-size: 1.2rem !important;
    }
  }
  .subheading {
    font-size: 1.3rem;
  }

  //////////////////////// Navigation \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .navbar-header {
    .btn-mobile-nav {
      transform: scale(0.8);
    }
  }
  //////////////////////// Hero & Company \\\\\\\\\\\\\\\\\\\\\\\\\\\

  .section-hero {
    .right-side {
      padding: 48.1rem 39.6rem 0px 0px;
    }
  }
  .section-company {
    .left-side {
      padding: 48.1rem 0px 0px 0px;
    }
  }
  .section-hero,
  .section-company {
    h1 {
      font-size: 3.6rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  //////////////////////// Offer \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-offer {
    .card-offer {
      .card-offer-all {
        h5 {
          font-size: 2.2rem;
        }
        p {
          font-size: 1.2rem;
        }

        .card-icon {
          &-stars {
            width: 3.4rem;
            height: 3.4rem;
          }
          &-eye {
            width: 3.8rem;
            height: 1.9rem;
          }

          &-pen {
            width: 3rem;
            height: 3rem;
          }
        }
      }
    }

    h1 {
      font-size: 2.9rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  //////////////////////// Projects \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-projects {
    h1 {
      font-size: 2.9rem;
    }
    .popup {
      width: 47rem;

      .popup-btn {
        transform: translateY(-50%) scale(0.8);
      }
      &-right-arrow {
        right: 5px;
      }
      &-left-arrow {
        left: 5px;
      }
    }

    .gradient-background {
      height: 90%;
    }
  }

  //////////////////////// Contact \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .section-contact {
    h1 {
      font-size: 2.25rem;
    }
    p {
      font-size: 1.4rem;
    }
  }

  //////////////////////// Footer \\\\\\\\\\\\\\\\\\\\\\\\\\\
  .footer {
    p,
    ul {
      font-size: 1.4rem;
    }
  }
}
