// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px,
  4xl: 1750px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1262px
    // zmienione,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  3: $spacer * 0.3,
  //3px
  5: $spacer * 0.5,
  //5px
  8: $spacer * 0.8,
  //8px
  12: $spacer * 1.2,
  //12px
  14: $spacer * 1.4,
  //14px
  22: $spacer * 2.2,
  //22px
  // 8px
  24: $spacer * 2.4,
  // 24px
  36: $spacer * 3.6,
  // 36px
  44: $spacer * 4.4,
  // 44px
  48: $spacer * 4.8,
  // 48px
  64: $spacer * 6.4,
  // 64px
  72: $spacer * 7.2,
  // 72px
  80: $spacer * 8,
  // 80px
  89: $spacer * 8.9,
  // 89px
);

$black: #111;
$grey: #f5f0ec;

@import "../../node_modules/bootstrap/scss/bootstrap";

/////////////////////////////////////////////  General Styles  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // font = 10px;
  font-family: Inter;
  overflow-x: hidden;
}

@include media-breakpoint-down(xl) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

@include media-breakpoint-down(lg) {
  html {
    font-size: 50%;
  }
}

ul {
  list-style-type: none;

  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
}
li {
  cursor: pointer;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
.btn {
  color: #f5f0ec;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
////////////////////////////////////////////  Navigation Styles  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.navbar {
  .btn-mobile-nav {
    display: none;
  }
  .arrow-down {
    transition: all 0.2s ease-in;
  }

  .nav-item {
    position: relative;

    .hidden {
      display: none;
    }

    .submenu-menu {
      position: absolute;
      top: 30px;
      left: -50px;
      padding: 0;
      background-color: #ffffff;
      filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.234));
      border-radius: 10px;

      &:before {
        content: "";
        background-color: #ffffff;
        width: 13px;
        height: 13px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: rotate(45deg) translateX(-50%);
      }
      .submenu-item {
        border-bottom: 1px solid #d6d6d6;
        width: 150px;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .form-search {
      .input-search {
        position: relative;
        width: 0;
        border: none;
        transition: width 0.9s linear;
        border-radius: 3px;

        &::placeholder {
          padding: 1rem;
          color: #111;
        }
      }
      .active {
        border: 1px solid #bcbcbc;
        width: 200px;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .navbar {
    .btn-mobile-nav {
      display: block;

      z-index: 9999;

      & .line {
        width: 28px;
        height: 4px;
        background-color: rgb(0, 0, 0);
        border-radius: 3px;
        transition: all 0.5s ease-in;
      }
    }

    .main-nav {
      position: fixed;
      top: 0;
      left: 0;
      transform: translateY(-500px);

      background-color: #ffffffd5;

      width: 100%;

      height: auto;
      border-radius: 0 0 20px 20px;

      filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.234));
      transition: all 1.2s linear;
    }

    .nav-open {
      transform: translateY(0);
    }
    .arrow-down {
      height: 15px;
      width: 15px;
    }

    .navbar-nav {
      font-size: 2.4rem;

      .nav-item {
        width: 50%;
        text-align: center;

        .submenu-menu {
          font-size: inherit;
          position: static;
          top: 5px;
          left: 0;

          .submenu-item {
            width: 100%;
          }
        }

        .form-search {
          .input-search {
            &::placeholder {
              font-size: 2rem;
            }
          }
          .active {
            border: 1px solid #bcbcbc;
            width: 60%;
          }
        }
      }
    }
  }
}

/////////////////////////////////////////////// Hero Section \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.section-hero {
  max-width: 100%;

  background-color: #dcc1ab;

  h1 {
    font-family: Montserrat;
    font-size: 6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 7rem;
  }
  p {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }

  .btn-contact {
    border-radius: 200px;
    background-color: #1b5b31;
  }

  .btn-more {
    color: #1b5b31;
    border-radius: 200px;
    border: 1px solid #1b5b31;
    .vector-arrow-down {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  .right-side {
    .img-slider {
      width: 100%;
      height: 100%;
    }
  }
}

@include media-breakpoint-down(xxl) {
  .btn {
    font-size: 1.2rem;
  }
  .section-hero {
    .hero-left-side {
      h1 {
        font-size: 5.6rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .section-hero {
    .hero-left-side {
      h1 {
        font-size: 4.6rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .btn {
    font-size: 1.1rem;
  }
  .section-hero {
    .hero-left-side {
      h1 {
        font-size: 4rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .btn {
    font-size: 2rem;
  }

  .section-hero {
    .hero-left-side {
      h1 {
        font-size: 6rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .btn {
    font-size: 1rem;
  }

  .section-hero {
    .hero-left-side {
      h1 {
        font-size: 4.6rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
}
